@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
}

body {
    background-color: #1A1A1D;
    margin: 0;
}

/* CONTAINER 1 */
.container1{
    max-width: 1440px;
    height: 820px;

    display: flex;
    justify-content: center;

    margin: auto;

    /* background-color: antiquewhite; */

    position: relative;
}

.image{
    position: absolute;
    width: 743px;
    right: 100px;
    bottom: 0px;
    z-index: -1;
}

nav {
    position: absolute;

    font-family: "Roboto";
    margin: auto;
    padding-top: 50px;
    max-width: 1200px;
    min-width: 500px;

    z-index: 2;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform:uppercase;

    /* background-color: #2e2e34; */
}

nav .links{
    display: flex;
    gap: 30px;
}nav .links a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;

    transition: 0.3s ease;
}nav .links a:hover{
    color: #C3073F;
}

.content{
    height: 100%;
    width: 78%;

    position: relative;

    display: flex;
    align-items: center;
}
.content .details h1{
    font-family: "League Gothic";
    font-weight: 400;
    font-size: 96px;
    color: #C3073F;

}.content .details h3{
    font-family: "League Spartan";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 10px;
    margin-top: -30px;
    color: #ffffff;
}

.media{
    position: absolute;
    right: 70px;
    bottom: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}.media .line{
    background-color: #C3073F;
    height: 90px;
    width: 5px;
}.media i{
    font-size: 34px;
    color: #ffffff;
    cursor: pointer;
    transition:  transform 0.3s ease;
}.media i:hover{
    font-size: 34px;
    color: #C3073F;
    transform: scale(1.2);
}

/* CONTAINER 1 */

/* CONTAINER 2 */
.container2{
    color: white;
    max-width: 1440px;
    height: 800px;    
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about{
    padding: 80px 130px;
}
.about h1{
    font-family: "League Spartan";
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-bottom: 30px;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.details .paragraph{
    display: flex;
    justify-content: end;
    position: relative;
}.details .paragraph .line{
    width: 6%;
    height: 5px;
    background-color: #C3073F;
    position: absolute;
    left: 0;
    top: 17px;
}.details .paragraph p{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 1px;
    width: 92%;
}.details .paragraph p a{
    font-style: italic;
    color: #C3073F;
    cursor: pointer;
}.details .paragraph p span{
    color: #C3073F;
    font-weight: 400;
}
/* CONTAINER 2 */

.container3{
    color: white;
    max-width: 1440px;
    height: 800px;    
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.skills h1{
    font-family: "League Spartan";
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 8px;
}

.skillBoxes1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "box1 box2 box3 box4";
    gap: 60px;
}
.skillBoxes2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "box5 box6 box7";
    gap: 60px;
}

.box{
    width: 180px;
    height: 180px;
    border-style: solid;
    border-radius: 10px;
    border-color: #C3073F;
    border-width: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-family: "League Spartan";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;

    transition: 0.3s ease;
}.box:hover{
    background-color: #ffffff;
    color: #1A1A1D;
}
.box img{
    width: 80px;
}