@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

*{
    margin: 0;
}

body {
    background-color: #1A1A1D;
    margin: 0;
}

/* CONTAINER 1 */
.container1{
    max-width: 1440px;
    height: 820px;

    display: flex;
    justify-content: center;

    margin: auto;

    /* background-color: antiquewhite; */

    position: relative;
}

.image{
    position: absolute;
    width: 743px;
    right: 100px;
    bottom: 0px;
    z-index: -1;
}

nav {
    position: absolute;

    font-family: "Roboto";
    margin: auto;
    padding-top: 50px;
    max-width: 1200px;
    min-width: 500px;

    z-index: 2;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform:uppercase;

    /* background-color: #2e2e34; */
}

nav .links{
    display: flex;
    gap: 30px;
}nav .links a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;

    transition: 0.3s ease;
}nav .links a:hover{
    color: #C3073F;
}

.content{
    height: 100%;
    width: 78%;

    position: relative;

    display: flex;
    align-items: center;
}

.content .details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content .details h1{
    font-family: "League Gothic";
    font-weight: 400;
    font-size: 96px;
    color: #C3073F;

}.content .details h3{
    font-family: "League Spartan";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 10px;
    color: #ffffff;
}

.media{
    position: absolute;
    right: 70px;
    bottom: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}.media .line{
    background-color: #C3073F;
    height: 90px;
    width: 5px;
}.media i{
    font-size: 34px;
    color: #ffffff;
    cursor: pointer;
    transition:  transform 0.3s ease;
}.media i:hover{
    font-size: 34px;
    color: #C3073F;
    transform: scale(1.2);
}

/* CONTAINER 1 */

/* CONTAINER 2 */
.container2{
    color: white;
    max-width: 1440px;
    height: 800px;    
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about{
    padding: 80px 130px;
}
.about h1{
    font-family: "League Spartan";
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-bottom: 30px;
}

.about .details{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.details .paragraph{
    display: flex;
    justify-content: end;
    position: relative;
}.details .paragraph .line{
    width: 6%;
    height: 5px;
    background-color: #C3073F;
    position: absolute;
    left: 0;
    top: 17px;
}.details .paragraph p{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 1px;
    width: 92%;
}.details .paragraph p a{
    font-style: italic;
    color: #C3073F;
    cursor: pointer;
}.details .paragraph p span{
    color: #C3073F;
    font-weight: 400;
}
/* CONTAINER 2 */

/* CONTAINER 3 */
.container3{
    color: white;
    max-width: 1440px;
    height: 720px;    
    margin: auto;
    margin-bottom: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.skills h1{
    font-family: "League Spartan";
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 8px;
}

.skillBoxes1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "box1 box2 box3 box4";
    gap: 60px;
}
.skillBoxes2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "box5 box6 box7";
    gap: 60px;
}

.box{
    width: 180px;
    height: 180px;
    border-style: solid;
    border-radius: 10px;
    border-color: #C3073F;
    border-width: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-family: "League Spartan";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;

    transition: 0.4s ease;
}
.box:hover{
    -webkit-box-shadow:0px 0px 40px 5px rgba(195,7,63,1);
    -moz-box-shadow: 0px 0px 40px 5px rgba(195,7,63,1);
    box-shadow: 0px 0px 40px 5px rgba(195,7,63,1);
}
.box img{
    width: 80px;
}
/* CONTAINER 3 */

/* CONTAINER 4 */
.container4{
    height: 700px;
    background-color: #161617;

    display: flex;
    align-items: center;
    justify-content: center;
}.container4 .portfolio{
    color: white;
    max-width: 1440px;
    margin-bottom: 20px;
}

.portfolio h1{
    text-align: center;
    font-family: "League Spartan";
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-bottom: 70px;
}.portfolio .projects{
    display: grid;
    grid-template-columns: "1fr 1fr";
    grid-template-areas:
    "Web1 Web2"
    "Title1 Title2";
    gap: 60px;
}.portfolio .projects h4{
    font-size: 24px;
    font-family: "League Spartan";
    font-weight: 400;
    letter-spacing: 8px;

    margin-top: -25px;
    padding: 0 20px;
}

.projects .website{
    width: 537px;
    height: 307px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}.projects .website img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease;
    position: absolute;
}.projects .website:hover img{
    transform: scale(105%);
    filter: brightness(50%);
}

.website .details{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;

    font-family: "Roboto";
    width: 75%;
    z-index: 1;

    opacity: 0;
    transition: 0.4s ease;
}.website .details h3{
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 9px;   
}.website .details p{
    font-size: 20px;
    font-weight: 300;
    font-family: "Roboto";
    letter-spacing: 4px;  
}.website .details button{
    width: 115px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    
    border-radius: 5px;
    border-style: none;

    display: flex;

    font-size: 15px;
    font-weight: bold;
    font-family: "League Spartan";
    letter-spacing: 4px;
}.website .details button a{
    text-decoration: none;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.website .details #btn1{
    background-color: #F3C304;
}.website .details #btn2{
    background-color: #72B5C5;
    color: white;
}.website .details #btn1 a{
    color: #1A1A1D;
}.website .details #btn2 a{
    color: white;
}
.website .details button:hover{
    transform: scale(105%);
}

.website h4{
    background-color: #72B5C5;
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: 0;
}

.philspot:hover .details{
    opacity: 1;
}.studysphere:hover .details{
    opacity: 1;
}

/* CONTAINER 4 */

/* CONTAINER 5 */
.container5{
    height: 320px;
    background-color: #1A1A1D;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}.container5 h1{
    font-family: "League Spartan";
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 8px;
    color: white;

    position: absolute;
    top: -28px;
}

.container5 .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contacts .details{
    display: flex;
    gap: 30px;
}

.contacts .containers{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    font-family: "Manjari";
    font-size: 20px;
    letter-spacing: 2px;

    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #6F2232;

    padding: 10px;

    gap: 10px;

    width: 330px;
}.contacts .containers i{
    font-size: 28px;
    color: #C3073F;
    display: flex;
    align-items: center;
    justify-content: center;
}.contacts .containers p{
    margin-top: 3px;
    font-size: 18px;
    letter-spacing: 2px;
}

.container5 .links{
    display: flex;
    gap: 35px;
    position: absolute;
    bottom: -15px;
    z-index: 1;
}
.container5 .links i{
    font-size: 34px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.container5 .links i:hover{
    transform: scale(1.2);
}

.container5 .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
}.container5 .head .line{
    height: 4px;
    width: 37%;
    background-color: #C3073F;
}

.container5 .foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.container5 .foot .line{
    height: 4px;
    width: 41%;
    background-color: #C3073F;
}
/* CONTAINER 5 */

/* CONTAINER 6 */
.container6{
    background-color: #161617;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: "League Spartan";
    font-size: 24px;
    letter-spacing: 10px;
    font-weight: 300;

    margin: 0;
    padding: 0;
}

/* CONTAINER 6 */
